@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main: #f2f6f7;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #316377;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), local("SFProDisplay-Regular"),
    url("../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("../fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "SF Pro Display";
  color: var(--main-color);
  background: var(--background-main);
}

.description-paragraph {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: 0em;
}

.custom-box {
  position: relative;
  border: 1px solid #FFFFFF99;
  padding: 20px 5px 10px 5px;
  text-align: center;
  height: 95px;
}
.custom-box:hover{
  border: 1px solid #ffffff;
}

.box-title {
  position: absolute;
  top: -15px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
  padding: 0 10px;
  color: #ffffff;
  background-color: rgba(0, 52, 74, 1);
}

.box-body {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
