.container {
  display: flex;
}

.contentContainer {
  flex: 1;
  padding: 0 20px; /* Adjust the padding as needed */
  height: 450px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.line {
  width: 2px;
  height: 60px;
  background-color: #ffffff;
  margin: 20px 0;
}

.tabNumber {
  color: #ffffffc2;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  margin: 4px 0;
}

.tab.active .circle {
  transform: scale(1.4); /* or any other scaling effect */
}

.tab.active .line {
  height: 0; /* Set height to 0 for the inactive lines in the active tab */
}

.tab.active + .tab .line,
.tab + .tab.active .line {
  height: 60px; /* Set height for the lines adjacent to the active tab */
}

.tab.active .tabNumber {
  opacity: 0; /* Hide the number for the selected tab */
}
